* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color:black;
  }
  
  
  .navbar {
      width: 100%;
      height: 120px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: transparent;
      color: white;
  
      padding: 1.5% 8%;
  
  }
  
  .logo {
      width: 250px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      
  
  }
  
  .logo img {
      width: 80px;
      height: 80px;
      margin-bottom: 4%;
  }
  
  .logo p {
      width: 200px;
      color: #911B1B;
      font-family: Lato;
      font-size: 26px;
      font-weight: 600;
      line-height: 32px;
      text-align: right;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
     margin-top: 18px;
  
  
  }
  
  .nav-links {
      list-style: none;
      display: flex;
      gap: 15px;
   
    
  }
  
  .nav-links li a {
      color: white;
      text-decoration: none;
      font-family: Lato;
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
  
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
  
      padding: 8px 12px;
   
      transition: background-color 0.3s;
     
  }
  
  .nav-act.active{
      color: #911B1B; 
      border-bottom: 2px solid #911B1B;
  }
  
  
  
  
  
  
  
  
  /* Hide menu for smaller screens */
  .menu-toggle {
  
      display: none;
      background: none;
      color: white;
      border: none;
      font-size: 28px;
      cursor: pointer;
  
      
  }
  
  
  #side-logo {
      width: 200px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 2%;
  }



  header {

    padding: 1rem 0;
    text-align: center;
  }

  .group-strait{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.group-strait h2{

color: white;
font-size: 40px;
font-family: Fraunces;
font-weight: 600;
word-wrap: break-word
}
.group-strait h2 span{

color: #9D1313;
 font-size: 40px;
 font-family: Fraunces;
 font-weight: 600;
 word-wrap: break-word

}

p{
  color: var(--met1-content, #C5C5C5);

  align-self: stretch;
  /* met/landing/content */
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
}

  main {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 1rem;
  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  h1, h2{
    color: #9D1313;
    font-size: 40px;
    font-family: Fraunces;
    font-weight: 600;
    word-wrap: break-word
  }
  .community-section {
    margin-bottom: 2rem;
    display: flex;
    gap: 20px;
    
  }
  .pera-c{
   text-align:left;
   align-items: center;
   padding-top:2%;
   padding-bottom: 2%;
   padding-left: 5%;
  
  }
  .pera-c p{
    line-height: 30px;
    font-size: 16px;
  }



  .community-section img {
    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
    margin: 1rem auto;
  }

  
 



  /* slides  */


  .card-slideses {
    font-family: Arial, sans-serif;
    background-color:transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.slider-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 1200px;
    overflow: hidden;
   
}

.slider-wrapper {
    width: 100%;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.card {
    flex: 0 0 calc(33.33% - 20px); /* 3 cards visible with spacing */
    margin: 0 10px; /* Space between cards */
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    height: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
   
}


.card h3 {
  margin-top: 0;
  color:black;
  font-family: Fraunces;
  font-weight: 600;
  word-wrap: break-word;

}
.card p {
  margin-top: 0;
  color:black;
  font-family: Fraunces;
  font-weight: 600;
  word-wrap: break-word;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.prev-btn, .next-btn {
    background-color:#9D1313;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    transition: background-color 0.3s ease;
}


.prev-btn {
    left:1px;
   
}

.next-btn {
    right:1px;
}


  /* slides  end */
  
footer{
    width: 100%;
    height: 250px;
 margin-top: 4%;
 padding: 0% 3%;
  
}
.up{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.down{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #151515;
}
.down span{
    color: #FFF;

/* met/18-R */
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height:22px; /* 21.6px */
text-align: center;
}
.min-up{
    width: 78%;
    height: 200px;
    display: flex;
    justify-content: center;
    padding:1% 0%;
   

}
.log{
    width: 30%;
    height: 170px;
    display: flex;
    justify-content:start;

 padding:2.5% 0%;
 
}

.log img{
    width: 120px;
    height: 120px;
}
.pol{

    width: 25%;
    height: 170px;
   display: flex;
   justify-content:center;
   padding:1% 0%;

}
.cen{
    width: 70%;
    height:150px;
   
  
}
.cen h3{
    color: #FFF;
font-family: Lato;
font-size: 22px;
font-style: normal;
font-weight: 900;
padding-bottom:15px;
text-align: start;
}
.cen p{
    color: #FFF;
/* met/18-R */
font-family: Lato;
font-size: 18px !important;
font-style: normal;
font-weight: 300;
text-align: start;
line-height: 18px;
}
.cen p a{
  color: #FFF;
  text-decoration: none;
}

.soc{

    width: 20%;
    height: 170px;
    padding:1% 0%;

}
.soc-img{
    display: flex;
    justify-content: start;
    gap: 20px;
}
.soc-img img{
    width: 28px;
    height: 28px;
}

.soc-img1{
    display: flex;
    justify-content: start;
    gap: 20px;
}
.soc-img1 img{
    width: 32px;
    height: 32px;
}
.dow{

    width: 20%;
    height: 170px;
    padding:1% 0%;
  
}



@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    position:absolute;
    left:77%;
    top: 30px;
    }
    .logo{
        position:absolute;
        top:20px;
    }

    #side-logo {
        display: none;
     }
    
    .nav-links.active {
        display: flex;
       margin-top:20%;  
    }
    .nav-links {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 300px;
        background:black;
        padding: 0%;
        margin-top: 10%;
        
    }
 
    .nav-links li a{
        width:100%;
        height: 50px;
        color:white;

    }



     .group-strait{
        width: 100%;
        height:auto;
        padding: 0% 8%; 
    
    }
    .group-strait h2{
         font-size: 22px;
         text-align: center;
         
           }
           .group-strait h2 span{
             font-size: 22px; 
           }
           .group-strait img{
            width:70px;
            height: 20px;
           }
     
     main {
        padding: 1rem 8%;
      }

       .community-section {
      
        flex-direction: column;
       
        
      }
  


      .card {
        flex: 0 0 calc(100% - 20px); /* 3 cards visible with spacing */
        margin: 0 10px; /* Space between cards */
    }


footer{
    width: 100%;
    height:700px;
   margin-top: 10%;
  
}
.up{
    width: 100%;
    height: 650px;

}
.min-up{
    width: 100%;
    height: 700px;
 flex-direction: column;
 justify-content: center;

}
.soc{

    width:100%;
    height: 150px;
    padding:9% 0%;
    padding-left: 23.5%;
}
.soc-img{
    display: flex;
    justify-content:center;
    gap: 20px;
}
.log{
    width:100%;
    display: flex;
    justify-content: center;
}
.cen h3{
text-align: center;
}
.cen p{
text-align: center;
}
.cen p a{
    color: #FFF;
}
.pol{

    width:100%;
    height:150px;
   
}
.dow{
width: 100%;
padding-left: 23.5%;
  
}
.soc-img1{
    display: flex;
    justify-content:center;
    gap: 20px;
}
}


@media (max-width:400px){
    .menu-toggle {
        display: block;
    position:absolute;
    left: 280px;
    top: 33px;
    }
    .logo{
        position:absolute;
        top:20px;
    }

    
    .nav-links.active {
        display: flex;
       margin-top:40%;  
    }
    
    .nav-links {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content:space-evenly;
        width: 100%;
        height: 300px;
        background:black;
        padding: 0%;
        margin-top: 10%;
    }
 
    .nav-links li a{
        width:100%;
        height:50px;
        color:white;
        flex-direction: column;
        
    }

    #side-logo {
       display: none;
    }


    .group-strait{
        width: 100%;
        height:auto;
        padding: 0% 8%; 
    
    }
    .group-strait h2{
         font-size: 22px;
         text-align: center;
         
           }
           .group-strait h2 span{
             font-size: 22px; 
           }
           .group-strait img{
            width:70px;
            height: 20px;
           }

           main {
            padding: 1rem 8%;
          }

           .community-section {
          
            flex-direction: column;
           
            
          }
      


          .card {
            flex: 0 0 calc(100% - 20px); /* 3 cards visible with spacing */
            margin: 0 10px; /* Space between cards */
        }


    footer{
        width: 100%;
        height:700px;
       margin-top: -10%;
      
    }
    .up{
        width: 100%;
        height: 650px;
    
    }
    .min-up{
        width: 100%;
        height: 700px;
     flex-direction: column;
     justify-content: center;
    
    }
    .soc{
    
        width:100%;
        height: 150px;
        padding:9% 0%;
        padding-left: 23.5%;
    }
    .soc-img{
        display: flex;
        justify-content:center;
        gap: 20px;
    }
    .log{
        width:100%;
        display: flex;
        justify-content: center;
    }
    .cen h3{
    text-align: center;
    }
    .cen p{
    text-align: center;
    }
    .cen p a{
        color: #FFF;
    }
    .pol{
    
        width:100%;
        height:150px;
       
    }
    .dow{
    width: 100%;
    padding-left: 23.5%;
      
    }
    .soc-img1{
        display: flex;
        justify-content:center;
        gap: 20px;
    }
}